@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Try hashing a text!</p>
</div>

<div class="container">
        <form asp-action="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input" class="control-label">Input</label>
            <input asp-for="Input" class="form-control" />
            <span asp-validation-for="Input" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Try" class="btn btn-primary" />
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col-sm-2">MD5</div>
        <div class="col-6">@Model.HashedText_MD5</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">BCrypt</div>
        <div class="col-6">@Model.HashedText_BCrypt</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">PBKDF2</div>
        <div class="col-6">@Model.HashedText_PBKDF2</div>
    </div>
</div>
